header {
  padding: 200px 100px;
 background-image: url('https://cdn.wallscloud.net/converted/393176763-komnata-r5xp-1920x1080-MM-100.jpg');
 /*background: linear-gradient(to left, #833ab4,#fd1d1d); */
 backdrop-filter: blue(2px);
 background-attachment: fixed;
 background-repeat: repeat;
 background-size: cover; 
}
/*-../img/back-hd.jpg-*/

section {
  padding-top: 20px;
  background-color: rgb(255, 255, 255);
}

/*------Search and Filter section------*/
.filters{
padding-top:8%;


}
.searchlayout{
  left:45%;
}
.item{
  margin-top:3px;
  text-align: center;
box-sizing: border-box;
border-radius: 2px;
border: 2px;
border-color: antiquewhite;
color:rgb(223, 223, 223);

}
.item-1{
  margin: 5px;
  height: 50px;
  border-radius: 2em;
  border: 3px solid rgba(255, 250, 250, 0);
  background-color: rgba(81, 81, 82, 0.534);
}
.item-1:hover{
  background-color:rgb(0, 148, 91)
}

.category{
  margin-top:4%;
}


.item-group{
display: inline-flex;
position: relative;
top:18%;
left:5%;
}
.pointer {
  cursor: pointer;
  font-size: 16pt;
  font-weight: 500;
  color:rgb(203, 203, 214);
}
/*------Navbar section------*/
.user-icon-color{
  color: rgb(193, 193, 196);
  width: 20px;
  height: 20px;
  margin-left: 15px;
  padding-left: 0;
}
.btn-shift{
  padding-left: 0;
}
.nav-color{
  background-color: rgba(212, 209, 209, 0.918);
  }
/*------Card section------*/
.box img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width:120px;
  height:150px;
}

.box{
  margin:5px;
 margin-left:7px;
 transition: transform .3s; 
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
 
}
.box:hover{
 
  box-shadow: 44px;
  color:rgb(51, 61, 204);
  transform: scale(1.05);
}
.box p{
  line-height: 120%;
}
.card-content{
 padding-top: 10px;
 
}
.card-content p{
font-size: 10pt;
 }
/*---------register layout---------------*/
.form-layout{
 background-color: rgba(59, 59, 59, 0.603);
 padding: 10px;
 border: 1px solid rgba(0, 0, 0, 0.219);
 border-radius: 4px;
 margin-left:24%;
}
.ad-banner{
  background-color:wheat;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  border-radius: 10px;
  filter: brightness(2);
  font-weight: 400;
  border-end-end-radius: 10px;
  
}
.category-info{
  color: black;
}
#value-product{

border-radius: 6px ;
float: right;
font-size: 14pt;
}
.icons{
  float: right;
  font-size: 24pt;
  color:rgb(0, 0, 0);
  transition: transform .2s; 
}
.icons:hover{
  float: right;
  font-size: 24pt;
  color:rgba(255, 0, 0, 0.596);
  transform: scale(1.3);
}
.profile-icon a{

  font-size:13pt;
  letter-spacing: 1px;

}
.box-panel{
 margin-left: 10px !important;
 
  padding:10px !important;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-radius: 10px;
 
}
.z-indexing{
 width: 100%;
}

.feedback{
  margin:10px;
  padding:40px;
  width:80%;
  height: auto;
}
/*---------empty.html--------------*/
#value-product-list{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
float:right;
color:rgb(36, 35, 34);
letter-spacing: 1px;
border-radius: 5px;
font-size: 20pt;
font-weight: 500;


}

.img-product{
  display: block !important; 
  width:225px !important;
  height:180px !important;
  margin-left: 2px !important;
}

.boxing{
font-size: 12pt;
  transition: transform .3s; 
}
.boxing:hover{
  font-size: 12pt;
  transform: scale(1.05);
  background-image: linear-gradient(45deg,rgba(235, 199, 0, 0.164),rgba(255, 255, 144, 0.425))
}
.product-detail{
  margin-left: 10px;
  background-color: rgb(236, 236, 236);
  padding: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgb(231, 219, 219);
  font-size: 14pt;
  margin-bottom: 10px;
}
.nav-route{
  padding-top:5%;
  font-size: 14pt;
}
.py-5{
background-color: rgba(0, 0, 0, 0.89);
}
.list-group-items{
line-height: 80px;
background-color:  rgb(252, 0, 0);
font-size: 20pt;
font-weight: 700;
color: white;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.btn-color{
  background-color: red;
}
.title-panel{
background-color: rgb(182, 182, 182);
}
.title-panel p{
 padding-top: 2.5%;
 padding-left: 2.5%;
 font-weight: 400;
}
.social ul{
  margin-left: 5px;
}
.social ul li{
  display: inline-block;
  font-size: 20pt;
  
  list-style: none;
  padding-left: 10px;
  letter-spacing: 2px;
}

.item-list{
  list-style: none;
  color: rgb(126, 126, 126);
}

.item-list ul li a{
  color:rgb(196, 196, 196);
  text-decoration: none;
}
.item-list ul li a:hover{
  color:rgb(114, 111, 111);
  
}
#icon-footer{
  font-size: 25pt;
  padding:10px;
}
#icon-footer i{
  transition: transform .3s; 
}
#icon-footer i:hover{
  transform: scale(1.3);
  background-image: linear-gradient(rgb(178, 61, 224), rgb(0, 120, 218),red);
}