body{
   
}
.card-header{
    background: linear-gradient(to left,#833ab4,#fd1d1d);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    text-align: center;
    color: #fff;
    
}
.auth{
    margin-top: 60px;
    border-left-color: #fd1d1d;;
    border-right-color: #833ab4;
    border-bottom-color: #fd1d1d;
}
.btn-primary:focus,
.btn-primary:hover{
    background: linear-gradient(to right, #833ab4,#fd1d1d);
}
.btn-primary{
    background: linear-gradient(to left, #833ab4,#fd1d1d);
    border: none;
}
.navbar-laravel{
    background: #fff;
    
}
.navbar-brand{
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    transition: transform 0.3s;
}
.navbar-brand:hover {
    transform: scale(1.05); 
  }
.textname
{
    position:absolute;
    top:40%;
}
.motto{
    position: absolute;
    top:70%;
    font-size: 20px;
    text-align: center;
    margin-right: 40px;
    font-family: 'Quicksand', sans-serif;
    color: linear-gradient(to left, #833ab4,#fd1d1d);;
}
.text{
    font-family: 'Pacifico', cursive;
    font-size: 80px;
    text-shadow: 2px 2px rgba(59, 56, 56, 0.171);
}

@media screen and (max-width: 768px){
    .col-sm-4{
        display: none;
    }
 }